

.user-number{
    display: flex;
    gap: 10px;
}


#mtn-image{
    background: url("images/mtn-logo-2HMMWPF.jpg");
    height: 950px;
    width: 100%;
    display: none;
    
}

#glo-image{
    background: url("images/Glo_button\ \(1\).png");
    height: 350px;
    width: 50%;
    display: none;
    
}

#airtel-image{
    background: url("images/airtel-logo-2HMGGJ0.jpg");
    height: 950px;
    width: 100%;
    display: none;
    
}


#image-container{
    height: 50px;
    width: 20%;
    
}